################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/quiz_creator/.vs/quiz_creator
