################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/quiz_creator/.vs/quiz_creator
/name_with_space_beginning/.vs/name_with_space_beginning
/fill_with_zero/.vs/fill_with_zero
